/* static/css/estilo.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura de la ventana */
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
  }
  .form {
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  